<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DynamicCutterBusinessLogic.Properties.Settings.DynamicCutterAppConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DynamicCutterApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>