################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EchoMap/EchoMapApp/obj/Debug
/EchoMap/EchoMapApp/bin
/EchoMap/.vs
*.user
*.xml
/BugTrac/App_Data
/DashboardApp/DashBoardBLL/obj/Debug
/DashboardApp/PDFHelper/bin
