<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="ConnectionString" value="Initial Catalog=VisionNew; Data Source=Databaseserver1; User ID=xxxx; Password=pwd; Application Name=BHGPDFCsharp"/>
		<add key="SMTPRelyHost" value="mail2.xxxx.com"/>
		<add key="EmailFrom" value="admin@xxxx.com"/>
		<add key="EmailSubject" value="User Login Detail"/>
		<add key="SMTPServer" value="8080"/>
		<add key="Admin" value="1"/>
		<add key="Gridline" value="yes"/>
		<add key="User" value="2"/>
	
		<!--<add key="VistaDBUseDesignTimeLicense" value="true"/>-->
		
	</appSettings>
		
 <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="defaultEp" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
     transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="Message">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" establishSecurityContext="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:49451/PDFService.svc" binding="wsHttpBinding"
    bindingConfiguration="defaultEp" contract="BHGService.IBHGService"
    name="defaultEp">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>