<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalIP" value="127.0.0.2"/>
    <add key="PortName" value="COM6"/>
    <add key="BaudRate" value="2400"/>
    <add key="DataBits" value="7"/>
    <add key="StopBits" value="1"/>
    <add key="ReadTimeOut" value="1000"/>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DynamicCutterApp;User ID=DynamicCutterUser;Password=pwd; Pooling=False"/>
    <add key ="ServerConnectionString" value="Data Source=localhost;Initial Catalog=DynamicCutterPRP;Persist Security Info=True;User ID=SA;Password=pwd"/>
    <add key="ServerWebApp" value="https://www.google.com"/>
  </appSettings>
 
</configuration>